@model IEnumerable<CodeFirstDemo.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@* Product gallary view *@
<div class="row">
    @foreach (var products in Model)
    {
        <div class="col-md-3" style="padding: 5px; height: 300px;">
            
                <div id="divforimage" style="height: 200px; width: 100%;margin-bottom: 2px; ">
                    <img src="@products.Picture" style="background-position: center; background-size: cover; background-repeat: no-repeat; width: 100%;height: 100%" />
                </div>
                <label class="col-md-12 text-center" style="margin: 5px;">@products.Name</label>
                <div class="col-md-12 text-center">
                <div class="col-md-6 pull-left">
                    @Html.ActionLink("Edit", "Edit", new { id = products.ProductId, @class = "btn btn-primary" })
                </div>
                <div class="col-md-6 pull-right">
                    @Html.ActionLink("Delete", "Delete", new { id = products.ProductId })
                </div>
            </div>
            
        </div>
    }
</div>
<div id="container"></div>
<div id="progress" style="display:none">
    <h4>Loading...</h4>
</div>

@section scripts
{
    <script>
        var pageSize = 4;
        var pageIndex = 0;

        $(document).ready(function() {
         //GetData();

            $(window).scroll(function() {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    GetData();
                }
            });
        });

        function GetData() {
            var Url='@Url.Action("LoadMoreData","Product")';
            $.ajax({
                type: 'GET',
                url: Url,
                data: { "pageIndex": pageIndex, "pageSize": pageSize },
                datatype: 'json',
                success: function(data) {
                    if (data != null) {
                        for (var i = 0; i < data.length; i++) {
                            $("#container").append("<h2>" + data[i].Name + "</h2>");
                        }
                        pageIndex++;
                    }
                },
                beforeSend: function() {
                    $("#progress").show();
                },
                complete: function() {
                    $("#progress").hide();
                },
                error: function() {
                    alert("Error while retriving data !");
                }
            });
        }
    </script>
}
